/* Font family*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

/* variaveis*/
:root{
    --color-primary:#fff;
    --color-second: #b28756;
    --color-title-dark:#000;
    --color-title-light: #fff;
    --bg-light:#f7f7f7;
    --bg-dark: #000;
    --color-desc: rgb(165, 162, 162);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;    

}
a{text-decoration: none;}

html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
/*  Classe do Button para ser utilizar em outras section*/

.btn{
    display: inline-block;
    text-transform: uppercase;
    margin-top: 30px;
    background: var(--color-second);
    color: var(--color-primary);
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 0.7rem;
    transition: 0.3s;
}
.btn:hover{
    background: #886843;
}
/* Header */

header{
    background: #000;
    height: 100px;
}
.container-header{

    max-width:1140px;
    height:100px;
    margin:auto;
    display:flex;
    align-items:center;
}
header .logo{
    width: 100px;
    display: flex;
    justify-content: center;
}
header .logo .fas{
    color: var(--color-second);
    margin-left: 7px;
    font-size: 1.5rem;
}
header .logo h4{
    font-size: 1rem;
    color: var(--color-second);
}
.menu-opener{
    display: none;
}
.menu{
    flex:1;
    display:flex;
    justify-content: flex-end;
}
.menu .phone{
    background: var(--color-second);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.menu .phone a{
    color: var(--color-primary);
    font-size: 1.5rem;
}
.menu .nav_links,
.menu .nav_link{
    list-style: none;
}
.menu .nav_links{
    display: flex;
}
.menu .nav_link a{
    padding: 0 10px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.9rem;
    color: var(--color-primary);
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #000;
}

header .nav_link a:hover{
    border-bottom: 5px solid var(--color-second);
    color: #ccc;
}

/* Main */

main .banner{
    background: url(../img/bg.jpg);
    background-position: bottom;
    background-size: cover;
    height: calc(100vh - 100px);
    overflow: hidden;
}
.banner .sliders{
    width: 1000vw;
    height: 100%;
}
.banner .slide{
    width: 100vw;
    height: 100%;
    display: inline-block;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,6));
}
.banner .slide_area{
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.banner h1{
    color: var(--color-primary);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 4rem;
}
.banner h1 span{
    color: var(--color-second);
    
}
.banner h2{
    font-size: 1.2rem;
    margin-top: 10px;
    color: var(--color-primary);
}

.banner .area_pointer{
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner .area_pointer .pointer{
    height: 10px;
    width: 10px;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
    border: 2px solid var(--color-second);
}
.banner .area_pointer .active{
    background: var(--color-second);
}

/* Defaut -> para aproveita em todas as section tamanhos padrão*/

.defaut{
    padding: 50px 0px;
}
.section_title,
.section_desc{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.defaut .section_title{
    font-size: 1rem;
    
}
.defaut .section_desc{
    font-size: 0.6rem;
    margin: 10px 0 40px 0px;
    color: var(--color-desc);
}
.defaut .section_body{
    margin: auto;
    max-width: 1140px;
}
.defaut.light{
    background: var(--bg-light);
}
.defaut.light .section_title,
.defaut.light .section_body{
    color: var(--color-title-dark);
}
.defaut.dark{
    background: var(--bg-dark);
}
.defaut.dark .section_title,
.defaut.dark .section_body{
    color: var(--color-title-light);
}

/* CSS DA SECTION DE AREAAS ESPECIFICAS*/

/* Section About Us*/
.section_aboutus{
    position: relative;
}
.section_aboutus .phone{
    background: var(--color-second);
    position: absolute;
    right: 50px;
    top: -30px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section_aboutus .phone a{
    color: var(--color-primary);
    font-size: 1.5rem;
}
.container_aboutus{
    display: flex;
}
.aboutus--left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.aboutus--left .aboutus_text p{
    font-size: 0.9rem;
    line-height: 1.6rem;

}

.aboutus--right{
    width: 500px;
    text-align: center;
}
.aboutus--right img{
    width: 450px;
    box-shadow: 0px 5px 10px #333;
}

/* Section Services */

.container_services{
    display: flex;
}
.content_services{
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    border-right: 1px solid var(--color-desc);
    padding: 15px;
}
.content_services:first-child{
    border-left: 1px solid var(--color-desc);
}
.services_title h4{
    text-transform: uppercase;
    margin-top: 20px;
    font-weight: 600;
}
.services_desc p{
    margin-top: 5px;
    color: var(--color-desc);
    font-size: 0.7rem;
}

/* Section Projects*/

.container_project{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project_filter{
    display: inline-block;
    background: #eee;
    border-radius: 30px;
    border: 1px solid #ccc;
    padding: 0px 20px;
    cursor: pointer;
}
.project_filter ul,
li{
    list-style: none;
}
.project_filter li{
    border-left: 1px solid #ccc;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px;
    border-bottom: 3px solid #eee;   
}
.project_filter li:hover{
    border-bottom: 3px solid var(--color-second);
}
.project_filter li:first-child{
    border-left: 0;
}
.project_filter li a{
    color:#333;
    font-size: 0.7rem;
}
/* Galeria de Photos*/
.projects_photos{
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.projects_photo{
    width: 280px;
}
.projects_photoares{
    margin: 10px;
    width: 260px;
    height: 160px;
}
.projects_photoares img{
    height: inherit;
    width: inherit;
}
.projects_photoinfo{
    position: absolute;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
    width: inherit;
    height: inherit;
    flex-direction: column;
    display: none;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
    transition: 0.5s;
}
.projects_photoinfo h4{
    font-size: 1.5rem;
}
.projects_photoinfo p{
    margin-top: 0.5rem;
    font-size: 0.7rem;
    text-align: center;
    line-height: 1.2rem;
}
.projects_photoares:hover .projects_photoinfo{
    display: flex;
    cursor: pointer;
}

/*our teams */
.defaut.dark.bg-team{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../img/bgour.jpg);    
    background-size: cover;
    background-position: center;
}
.section_teams{
    overflow:hidden;
    max-width:880px;
    margin:auto;
}
.section_teams .sliders{
    width:1000vw;
    height:100%;
}
.section_teams .slide{
    background: var(--bg-light);
    width: 280px;
    height: 100%;
    min-height: 300px;
    margin-right: 20px;
    display: inline-block;

}
.section_teams .slide:last-child{
    margin-right: 0;
}
.section_teams .slider_area{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.slider_area .avatar img{
    width: 150px;
    height: 150px
}
.slider_area .title_ourteam h2{
    color: var(--color-title-dark);
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 30px;
}
.slider_area .desc_jobs h4{
    color: var(--color-desc);
    font-weight: 400;
    font-size: 0.8rem;
    margin-top: 5px;
}
.slider_area .social---mediaour--team{
    display: flex;
   margin-top: 30px;
}
.slider_area .social---mediaour--team i{
    font-size: 0.8rem;
    margin-left: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 13px;
    background: rgb(182, 182, 182);
    transition: 0.5s;
    cursor: pointer;
}
.slider_area .social---mediaour--team i:hover{
    background: var(--color-second);
}

.section_teams .area_pointer{
    margin-top: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section_teams .area_pointer .pointer{
    height: 10px;
    width: 10px;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
    border: 2px solid var(--color-second);
}
.section_teams .active{
    background: var(--color-second);
}
 
/* Parte de Feedback de Client (HAPPY CLIENTS
)*/

.testimonials .section-body{
    max-width: inherit;
}
.section-happyclients{
    overflow:hidden;
}
.section-happyclients .sliders {
    width:1000vw;
    height:100%;
}
.section-happyclients .slide {
    width:100vw;
    height:100%;
    display:inline-block;
}
.section-happyclients .slidearea {
    display:flex;
    flex-direction:column;
    height:100%;
    justify-content: center;
    align-items:center;
}
.section-happyclients .avatar img{
    width: 150px;
    margin-top: 30px;
}
.section-happyclients .name--avatar h1{
    margin-top: 30px;
    font-weight: 700;
    font-size: 1.3rem;
}
.section-happyclients .avatar_role h4{
    margin-top: 10px;
    font-weight: 600;

}
.section-happyclients .quote img{
    margin-top: 30px;
}
.section-happyclients .avatar_feedback p{
    margin-top:10px;
    font-size:1rem;
    max-width:700px;
    color: #555;
    text-align:center;
    line-height:25px;
    margin-left:30px;
    margin-right:30px;
}

.section-happyclients .area_pointer{
    margin-top: 50px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-happyclients .area_pointer .pointer{
    height: 10px;
    width: 10px;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
    border: 2px solid var(--color-second);
}
.section-happyclients .area_pointer .active{
    background: var(--color-second);
}

/* Section companies */

.section-companies{
    border-top:1px solid #DDD;
    border-bottom:1px solid #DDD;
}
.section-companies--area{
    display: flex;
    align-items: center;
}
.section-company{
    flex: 1;
    text-align: center;
}
/* Section Price */
.section_price{
    display: flex;
}
.section_price_item{
   flex: 1;
   background: #fff;
   text-align: center;
   margin-right: 20px;
   padding: 30px;
}
.section_price_item:last-child{
    margin-right: 0;
}

.section-price--item-name{
    font-size: 0.9rem; 
    font-weight: 600;
    text-transform: uppercase;
}
.section-price--item-money{
    font-size: 2rem;
    font-weight: 700;
    margin-top: 20px;
}
.section-price--item-period{
    font-size: 0.7rem;
    text-transform: uppercase;
    color: rgb(163, 163, 163);
    font-weight: 400;
    margin-bottom: 20px;
}
.section-price--item-point{
    margin-top: 5px;
    font-size: 0.8rem;
    color: rgba(0,0,0,0.9);
}
.button--dark{
    background: rgba(0,0,0,1);
    transition: 0.3s;
}
.button--dark:hover{
    background: rgba(0,0,0,0.9);
}

/* Section premium */

.Premium{
    background: #fff !important;
    border-bottom: 1px solid #ccc;
}
.Premium .section-body{
    max-width: initial;
}
.section_premium{
    overflow: hidden;
}
.section_premium .sliders{
    width:1000vw;
    height:100%;
}
.section_premium .slide{
    width:100vw;
    height:100%;
    display:inline-block;

}
.section_premium .slide_area{
    display:flex;
    height:100%;
    justify-content: center;
    align-items:center;
    max-width:1140px;
    border-bottom:1px solid #CCC;
    margin:auto;
    padding-bottom:40px;

}
.section_premium--left{
    flex:1;
    text-align:right;
    
}
.section_premium--left img{
    width:300px;
    margin-right:30px;
}
.section_premium--right{
    flex: 2;
}
.section_premium--item{
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
}
.section_premium--item img{
    width:20px;
    height:20px;
    margin-right:20px;
}
.title_premium{
    display: inline-flex;
}
.desc_premium--book p{
    font-size: 0.7rem;
    color: #ccc;
    margin-left: 40px;
    padding: 5px 0px 0px 0px;
}
.desc_premium--book p:nth-child(1){
    margin-top: 5px;
}

.desc_premium{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}
.desc_premium span{
    font-size: 0.6rem;
    color: #ccc;
    text-transform: uppercase;
    padding: 5px 0px;
}
.desc_premium span:nth-child(1){
    margin-top: 5px;
}
.Premium .area_pointer{
    margin-top: 50px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Premium .area_pointer .pointer{
    height: 10px;
    width: 10px;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
    border: 2px solid var(--color-second);
}
.Premium .area_pointer .active{
    background: var(--color-second);
}

/* Section some */

.section_some{
    display: flex;
    
}
.section_some_item{
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    padding:15px;
}
.section-fact-line {
    height: 4px;
    width: 25px;
    background: #ccc;
    margin:auto;
}
.some_item_number h1{
    font-size: 2.5rem;
    color: var(--color-second);
    position: relative;
    margin-bottom: 5px;
}
.some_item_title h1{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.some_item_desc p{
    margin-top: 30px;
    font-size: 0.8rem;
    letter-spacing: 1px;
    color: var(--color-desc);
    font-weight: 400;
}
/* section-share */

.section-share{
    display:flex;
    justify-content: center;
    align-items:center;
    padding:20px;
    background-color:#FFF;
    border-bottom: 1px solid #ccc;
}
.section_legends{
    margin-right: 60px;
    display: flex;
    align-items:center;
}
.section_legends h4{
    color: var(--color-desc);
    font-weight: 600;
}
.section_legends img {
    margin-right:10px;
}
.section_items{
    display: flex;
}
.section-share--icon{
    margin-right: 30px;
    
}
.section-share--icon i{
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    color: #fff;
}
.section-share--icon span{
    font-size: 0.5rem;
    color: var(--color-desc);
    display: inline-flex;
    justify-content: center;
}
.twitter i{
    background: linear-gradient(to right, #56a7f2, #468aca);
}
.linkedin i{
    background: linear-gradient(to right,#127cb4,#1a89f1);
}
.facebook i{
    background: linear-gradient(to right, #1e3c72, #2a5298);
}
.google i{
    background: linear-gradient(to right,#e74237,#dd645b);
}
.pinterest i{
    background: linear-gradient(to right,#ec0b1e,#e71224);
}

/* Section de Contact Form*/

.section_contact_form{
    max-width:450px;
    margin:auto;
    text-align:center;
}

.form_personal_form{
    display: flex;
}
.form_personal_form input{
    margin-right: 20px;
}
.form_personal_form input:last-child{
    margin-right: 0;
}
.section_contact_form input[type=text],[type=email]{
    margin-top: 30px;
    display: block;
    width: 100%;
    height:40px;
    border: 0;
    background: transparent;
    border-bottom: 2px solid #ccc;
    outline: none;
    font-size: 1rem;
    color: rgba(0,0,0,0.9)
}

textarea{
    padding: 12px 0px 0px 0px;
    height: 5px;
    margin-top: 50px;
    display: block;
    width: 100%;
    height:40px;
    border: 0;
    background: transparent;
    border-bottom: 2px solid #ccc;
    outline: none;
    resize: none;
}
.btn-form{
    border: none;
}
.section_contact_form input[type=text]::placeholder{
    text-transform: uppercase;
    color: rgba(0,0,0,0.5);
    font-size: 0.7rem;
}
.section_contact_form input[type=email]::placeholder{
    text-transform: uppercase;
    color: rgba(0,0,0,0.5);
    font-size: 0.7rem;
}
.section_contact_form textarea::placeholder{
    text-transform: uppercase;
    color: rgba(0,0,0,0.5);
    font-size: 0.7rem;
}

/* Section Maps */
.section-maps{
    background: linear-gradient(rgba(162,162,162,0.3),rgba(162,162,162,0.5)),url(../img/mapa.jpg);
    background-size: cover;
    background-position: center;
}
.section-maps--area{
    padding: 30px;
    width: 100vw;
    max-width:1140px;
    margin: auto;
    
}
.section-maps--info{
    padding:30px;
    width: 50%;
    background:#fff;
}
.section--info-img{
    padding: 5px;
    display: flex;
    align-items: center;
}
.section--info-img i{
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background: rgb(194, 191, 191);
    border-radius: 20px;
    color: #fff;
    font-size: 1rem;
}
.section--info-img span{
    font-size: 0.8rem;
    color: rgb(158, 158, 158);
    margin-left: 10px;
}
.section_footer{
    position: relative;
    padding: 20px 0px;
}
.up_arrow_footer{
    position: absolute;
    left: 30px;
    top: -20px;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    background: var(--color-second);
    display: flex;
    justify-content: center;
    align-items: center;
}
.up_arrow_footer a{
    font-size: 2rem;
    color: var(--bg-light);
}

.footer_area1{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 25px;
}
.footer_area--container{
    display: flex;
}
.social_footer i{
    font-size: 0.8rem;
    margin-left: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 13px;
    background: rgb(54, 54, 54);
    transition: 0.5s;
    cursor: pointer;
}
.social_footer i:first-child{
    margin-left: 0;

}
.social_footer i:hover{
    background: var(--color-second);
}
.copy span{
    font-size: 0.8rem;
    text-transform: uppercase;
}
.footer_area2{
    flex: 2;
    font-size: 0.8rem;
    line-height: 2;
    color: rgb(121, 121, 121);
}
.footer_area3{
    flex: 1;
    padding: 50px;
    background: rgb(54, 54, 54);
    margin-left: 30px;
}
.footer_area3 form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.footer_area3 form input{
    width: 100%;
    padding: 10px 2px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 2px solid #ccc;
    color: #fff;
    margin-bottom: 10px;
    font-size: 0.9rem;
}
.footer_area3 form input::placeholder{
    color: #ccc;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.7rem;
}

/* Responsividade*/

@media (min-width: 450px) and (max-width: 800px){
    .logo{
        margin-left: 30px;
    }
    .menu-opener{
       margin-right: 50px;
       width: 40px;
       display: block;
       text-align: center;
   }
   .menu .phone{
       display: flex;
       position: absolute;
        right: 150px;
        top: 25px;
    }
    nav {
        display: block;
        visibility: hidden;
        position: absolute;
        z-index: 999;
        background: rgba(0,0,0,0.7);
        width: 50vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }
    .menu .nav_links{
        margin-top: 50px;
        flex-direction: column;
    }
    .menu .nav_link a{
        font-weight: 700;
        border: none;
        height: 80px;
        margin-left: 50px;
        font-size: 1.2rem;
    }
    .menu .nav_link a:hover{
        border: none;
        color: var(--color-second);
    }
    #nav.active nav{
        visibility: visible;
    }
    .section_aboutus .phone{
        display: none;
    }
    .section_aboutus .container_aboutus{
        flex-direction: column;
    }
    .section_aboutus .aboutus--left{
        margin: 30px;
    }
    .section_aboutus .aboutus_text p{
        text-align: center;
    }
    .section_aboutus .button{
        text-align: center;
    }
    .section_aboutus .aboutus--right{
        width: auto;
    } 
    .section_aboutus .aboutus--right img{
        width: 500px;
    }
    .container_services{
        flex-wrap: wrap;
    }
    .container_services .content_services{
        min-width: 50%;
        margin-bottom: 30px;
    }
    .container_services .content_services:first-child{
        border-left: none;
    }
    .section_teams{
        max-width: 580px;
    }
    .section-companies--area{
        flex-wrap: wrap;
    }
    .section-companies--area .section-company{
        min-width: 30%;
        margin-bottom: 40px;
    }
    .section_price{
        flex-wrap: wrap;
    }
    .section_price_item{
        min-width: 40%;
        margin: 30px;
    }
    .section_price_item:last-child{
        margin-right: 30px;
    }
    .section_premium .slide_area{
        flex-direction: column;    
    }
    .section_premium--right{
        margin: 40px 0px 0px 60px;
    }
    .section_some{
        flex-wrap: wrap;
    }
    .section_some_item{
        min-width: 40%;
        margin-bottom: 30px;
    }
    .section-maps--info{
        width: auto;
        padding: 0px 30px;
    }
    .section--info-img{
        padding: 10px;
    }
    .footer_area--container{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    .footer_area2{
        padding: 20px 100px;
    }
    .footer_area3{
        padding: 50px 100px;
    }
    .copy{
        margin-top: 20px;
    }
}

@media (max-width: 450px){

    .logo{
        margin-left: 10px;
    }
    .menu-opener{
       margin-right: 30px;
       width: 30px;
       display: block;
       text-align: center;
   }
   .menu .phone{
       display: flex;
       position: absolute;
        right: 100px;
        top: 33px;
        width: 35px;
        height: 35px;
        border-radius: 25px;
    }
    .menu .phone a{
        font-size: 1.2rem;
    }
    nav {
        display: block;
        visibility: hidden;
        position: absolute;
        z-index: 999;
        background: rgba(0,0,0,0.8);
        width: 78vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }
    #nav.active nav{
        visibility: visible;
    }
    .menu .nav_links{
        margin-top: 10px;
        flex-direction: column;
    }
    .menu .nav_link a{
        font-weight: 700;
        border: none;
        height: 60px;
        margin-left: 30px;
        font-size: 1rem;
    }
    .menu .nav_link a:hover{
        border: none;
        color: var(--color-second);
    }
    
    .banner h1{
        font-size: 2rem;
    }
    .banner h2{
        font-size: 1rem;
    }

    .section_aboutus .phone{
        display: none;
    }
    .section_aboutus .container_aboutus{
        flex-direction: column;
    }
    .section_aboutus .aboutus--left{
        margin: 30px;
    }
    .section_aboutus .aboutus_text p{
        text-align: center;
    }
    .section_aboutus .button{
        text-align: center;
    }
    .section_aboutus .aboutus--right{
        width: auto;
        margin: 0px 30px;
    } 
    .section_aboutus .aboutus--right img{
        width: 100%;
    }
    .container_services{
        flex-wrap: wrap;
    }
    .container_services .content_services{
        min-width: 100%;
        margin-bottom: 30px;
        border-right: none;
    }
    .container_services .content_services:first-child{
        border-left: none;
    }
    .project_filter{
        margin: 0px 30px;
    }
    .projects_photo{
        width: 320px;
    }
    .projects_photoares{
        width: 300px;
        height: 190px;
    }

    .section_teams{
        max-width: 280px;
    }
    .section-companies--area{
        flex-wrap: wrap;
    }
    .section-companies--area .section-company{
        min-width: 50%;
        
    }
    .section-companies--area .section-company:nth-child(4){
        display: none;
    }
    .section-companies--area .section-company:nth-child(5){
        display: none;
    }
    .section-companies--area .section-company:nth-child(3){
        display: none;
    }
    .section-companies--area .section-company:nth-child(6){
        display: none;
    }
    .section_price{
        flex-wrap: wrap;
    }
    .section_price_item{
        min-width: 40%;
        margin: 30px;
    }
    .section_price_item:last-child{
        margin-right: 30px;
    }
    .section_premium .slide_area{
        flex-direction: column;    
    }
    .section_premium--left img{
        width: 250px;
        text-align: center;
        margin-right:0;
    }
    .section_premium--right{
        margin: 40px 0px 0px 60px;
    }
    .section_some{
        flex-wrap: wrap;
    }
    .section_some_item{
        min-width: 100%;
        margin-bottom: 30px;
    }
    .section_some_item:nth-child(4){
        display: none;
    }
    .section-share{
        flex-direction: column;
    }
    .section_legends img{
        display: none;
    }
    .section_legends h4{
        margin-left: 60px;
        margin-bottom: 20px;
    }
    .section-share--icon{
        margin-right: 10px;
        display: flex;
        flex-direction: column;
    }
    .section-share--icon span{
        margin-top: 10px;
    }
    .section-share--icon:last-child{
        margin-right: 0;
    }
    .section_contact_form{
        margin: 20px;
    }
    .form_personal_form{
        flex-direction: column;
    }

    .section-maps--area{
        padding: 0;
        padding-bottom: 250px;
        
    }

    .section-maps--info{
        width: auto;
        padding: 20px;
    }

    .section--info-img{
        margin-top: 10px;
    }
    .section--info-img span{
        font-size: 0.7rem;
    }

    .up_arrow_footer{
        position: absolute;
        left: 320px;
        top: -7px;
        height:30px;
        width: 30px;
        border-radius: 15px;
    }
    .up_arrow_footer a{
        font-size: 1rem;
    }
    .footer_area--container{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    .footer_area2{
        line-height:1.5;
        font-size: 0.8rem;
        padding: 30px 30px;
        text-align: left;
    }
    .footer_area3{
        margin-left: 0;
        padding: 30px 60px;
    }
    .copy{
        margin-top: 20px;
    }
}
    
